
                                        /* Первая секция */

* {     /* общие настройки контэйнеров */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {    /* контэйнер секции */
  position: relative;
  width: 1140px;
  margin: 0 auto;
}

.promo {    /* первая секция */
  min-height: 800px;
  background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
  padding: 39px 0 62px 0;
}



.logo .logo_img {   /* лого в promo */
  display: block;
  margin: 0 auto;
}

.logo .logo_text{   /* текст под logo */
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px; /* интервал между строками */
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 14px;
}

h1 {
  margin-top: 53px;
}


.title {    /* текст в шапке */
  font-family: Roboto;
  font-size: 41px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  color: #f9bf3b;
  text-align: center;
}

h2.title {
  margin-top: 30px;
}

.simple .title_big {    /* текст в шапке */
  font-family: Roboto;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin-top: 21px;
}

.promo .promo_text {
  padding: 0 13px;
  margin-top: 23px;   /* выбираем всегда что то одно */
  font-family: "Roboto Light";
  font-size: 21px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}

.promo .promo_text span {
  font-weight: 700;
  color: #f9bf3b;
  font-weight: 700;
}

.promo .promo_btn, .gift .gift_btn {
  display: block;
  margin: 0px auto;
  margin-top: 73px;
  width: 313px;
  height: 72px;
  box-shadow: inset 0px 0px 0px rgba(0,0,0,0.18); /* тень */
  border: 4px solid rgba(0,0,0,0.23);
  background-image: linear-gradient(0.0deg, #2798b9 0%, #3ab6da 100%); /* градиент цвета перелив цвета */
  
  font-family: 'Roboto Condensed'; /* текст кнопки */
  font-size: 21px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px rgba(0,0,0,0.22);
  color: #ffffff;
  cursor: pointer;
}

.gift .gift_btn {
  margin-top: 52px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border: none;
}

.more {
  margin-top: 73px;

}

.more .more_text {
  font-family: "Roboto Thin";
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.more .more_img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}

                                        /* Вторая секция */

.waiting {
  min-height: 604px;      /* добавлен параметр min что бы при изменении контента не рвало блоки */
  background-color: #efefef;
  padding: 85px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header {
  color: #252525;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400px;
  text-transform: uppercase;
  text-align: center;
}

.finish .finish_header {
  color: #fff;
}

.waiting .waiting_divider, .finish .finish_divider {
  width: 217px;
  height: 4px;
  background-color: #f9bf3b;
  margin: 0 auto;
  margin-top: 18px;
}

.waiting .waiting_subheader {
  margin-top: 17px;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 400;
  color: #4a4a4a;
  text-align: center;
}

.waiting .waiting_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
  /* display: inline-block;    выравниваем по горизонтали, убрали так как flex */
  /*vertical-align: top;       прижимаем к верху, убрали так как flex */
  width: 339px;
  text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
  width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
  margin-top: 33px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 21px;
  font-weight: 300;
  color: #4a4a4a;
}

                                    /* flex-box 

.my-flex-container {
  display: flex;
  flex-wrap: wrap;  разрешает переносить элементы на новую строку 
  flex-direction: column;  изменение главной оси на вертикальную 
  justify-content: space-around;  Выравновает элементы по главной оси
  align-items: center;  Выравнивание по поперечной оси 
  height: 450px;
}


.my-flex-block {
  width: 150px;
  height: 150px;
  margin: 0 50px;
  background-color: red;
  text-align: center;
  color: #fff;
}*/

.optimization {
  min-height: 550px;
  padding: 102px 0 107px 0;
}

.optimization .optimization_header {
  margin-left: 391px;
  color: #299cbd;
  font-family: "Roboto - Black";
  font-size: 29px;
  font-weight: 400;
  text-transform: uppercase;
}

.optimization .optimization_text {
  margin-top: 25px;
  margin-left: 391px;
  color: #4a4a4a;
  font-size: 17px;
  font-weight: 300px;
  font-family: "Roboto Light";
  font-weight: 300;
  line-height: 27px;
}

.optimization .optimization_text span {
  font-family: "Roboto - Bold";
  font-weight: 700;
}

.optimization .optimization_img {
  position: absolute;
  top: -54px;
  left: -240px;
  z-index: -1;
}

.finish {
  min-height: 447px;
  padding: 86px 0 79px 0;
  background: url('../img/bg/second_bg.jpg') center center/cover no-repeat;
}

.finish .finish_wrapper {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
  width: 204px;
}

.finish .finish_wrapper .finish_round { /* Создаём круг под иконки */
  display: flex;  /* Помещаем иконку в центр */
  justify-content: center;  /* Выравниваем иконку по горизонтали */
  align-items: center;  /* Выравниваем иконку по вертикали */
  margin: 0 auto; /* Выравниваем по горизонтали с текстом */
  width: 115px;
  height: 115px;
  background-color: #b4e2ff;
  border-radius: 100%;  /* округляем */
}

.finish .finish_wrapper .finish_item .finish_descr {
  margin-top: 25px;
  text-align: center;
  font-family: Roboto;
  font-size: 17px;
  line-height: 20px;
  font-weight: 300;
  color: #efefef;
}

.gift {
  min-height: 628px;
  padding: 86px 0 87px 0;
  background-color: #efefef;
}

.gift .gift_img {
  display: block;
  margin: 0 auto;
}

.gift .gift_text {
  margin-top: 42px;
  color: #252525;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 400;
  line-height: 43px;
}

.first {
  min-height: 515px;
  padding: 89px 0 64px 0;
}

.first .first_img {
  display: block;
  margin: 0 auto;
}

.first .first_text {
  margin-top: 37px;
  color: #252525;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.first .date {
  margin-top: 30px;
  color: #299cbd;
  font-family: "Roboto - Black";
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.first .first_subtitle{
  margin-top: 25px;
  color: #4a4a4a;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
}

footer {
  min-height: 166px;
  background-color: #1a1a1a;
  padding: 61px 0 69px 0;
}

.info {
  margin: 0 auto;
  width: 377px;
  text-align: center;
  color: #888888;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

footer a {
  color: #888888;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
  text-decoration: none;
}

.underlined {
  text-decoration: underline;
}